#div1{
  background-color: aquamarine;
  background-image:url(./adventure-0122.jpg);

  background-size: cover;
  background-attachment: fixed ;
    width: 100%;
    height: 2600px;
    overflow-x: hidden;
    
}
.navbar-nav{
    margin-left: auto;
    margin-right: 50px;
}
a{
    margin-left: 80px;
    font-size: x-large;
}
#div2{
    
    background-color:whitesmoke;
    width: 100%;
    
    height: 600px;
    margin-top: 350px;
    margin-left: 0;
  
    border-top: 3px solid red;
    border-bottom:5px solid seagreen ;
}
#div4{
    background-color:white;

            height: 80px;
            border: 10px rgb(53, 50, 50) solid;
text-align: center;
color: rgb(168, 17, 50);
text-shadow: 5px 3px 5px rgb(100, 29, 29); 
margin-left: 400px;  
margin-right: 400px;
border-radius: 50px;

}
        #div3{
        
            width: 100%;
            height: 400px;
            
           
        display: flex;
        }
        #div12{
        margin-top: 30px;
            width: 600px;
            height: 300px;
           background-color: bisque;
           border: 5px solid; 
           margin-left: 400px;
           margin-right: 0px;
        }

       #div7{
        width: 900px;
        height: 300px;
        background-color:lightsteelblue;
        margin-top: 50px;
        margin-left: 240px;
        border: 5px solid salmon;
       }
       #div8{
        width:1270px;
        height: 200px;
        background-color: white;
        margin-top: 50px;
        margin-left: auto;
        border: 50px solid;
        padding-left: 200px;
        padding-top: 10px;
       }
       html{
        scroll-behavior: smooth ;
       }
       



       a.nav-link:hover{
        font-size: 20px;
        color: crimson;
        background-color: lemonchiffon;
        border-radius: 20px;
        border: 2px solid;
       } 
       p.card-text:hover{
        position: absolute;
        width: 250px;
        height: 350px;
        border-radius: 30px;
        padding: 15px 25px;
        transition: transform 1.5s;
        background-position: right;
        background-size: cover;
        transform: rotate(360deg);
        background-color:rgb(102, 190, 99);
        border: 2px solid;
    
       }
       a.aa:hover{
        font-size: 30px;
        color: aquamarine;
        background-color: rgb(12, 114, 114);
        border-radius: 20px;
       }
       .pp{
        font-style: italic;
       }

       #BO{
        width: 400px; margin-left: 90px; text-shadow: 10px 5px 10px;
       }
      #map{
        padding-left: 500px;
    margin-top: -100px;
    padding-top: 10px;
    height: 100px ;}
    #line{
       color: darkorange;
    padding-left: 500px;
    }
      


       @media screen and (max-width:800px){
        p{
            text-align: justify;
            font-size: 10px;
            line-height: 20px;
        }
        
        #div2{
            width: 100%;
            height: 800px;
        }
        .img1   {
            width: 100%;
            height: 100px;
            border: 5px solid;
        }
        
       #BO{
        text-shadow: 10px 5px 10px;
        margin-left: 0px;
        width: 350px;
    
       }
       #div12{
       margin-left: 15px;
      width: 450px;
      background-color: lightcoral;
       }
       
       #div8{
        width:100%;
        height: 400px;
        background-color: white;
        margin-top: 50px;
        border: 5px solid;
        padding-left:0px ;  
       }   
       #map{
        padding-left: 50px;
        width: 500px;
        height: 150px;
    margin-top:2px;
    
       }
    #line{

       color: darkorange;
       padding-left: 50px;
        width: 500px;
        height: 150px;
        

    
    }

   
   
       .card-img-top:hover{
     
        width: 100%;
        height: 350px;
        border-radius: 30px;
        padding: 15px 25px;
        border: 10px solid;
    
       }
    
       .col8{
        padding-top: 250px;
       }


       p.card-text:hover{
       position: static;
        
        transform: rotate(0deg);
        background-color:rgb(114, 153, 204);
        border: 2px solid;
    
       }
}